<?xml version="1.0"?>
<config>
    <modules>
       <Clicksend_Sms>
          <version>1.0.0</version>
       </Clicksend_Sms>
    </modules>
    <global>
        <helpers>
            <clicksendsms>
              <class>Clicksend_Sms_Helper</class>
            </clicksendsms>
        </helpers>
		<models>
            <clicksendsms>
                <class>Clicksend_Sms_Model</class>
            </clicksendsms>
        </models>
		<resources>
			<clicksendsms_setup>
				<setup>
					<module>Clicksend_Sms</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</clicksendsms_setup>
			<clicksendsms_write>
				<connection>
					<use>core_write</use>
				</connection>
			</clicksendsms_write>
			<clicksendsms_read>
				<connection>
					<use>core_read</use>
				</connection>
			</clicksendsms_read>
		</resources>
		<events>
			<sales_order_save_after>
               <observers>
                   <sales_order_save_after_clicksendsms>
                       <class>clicksendsms/observer</class>
                       <method>orderSave</method>
                   </sales_order_save_after_clicksendsms>
               </observers>
            </sales_order_save_after>
        </events>
    </global>
	<adminhtml>
		 <menu>
            <clicksendsms module="clicksendsms">
                <title>ClickSend</title>
                <sort_order>202</sort_order> 
                <children>
					<admin module="clicksendsms">
						<title>Configuration</title>
						<sort_order>4</sort_order>
						<action>adminhtml/system_config/edit/section/clicksendsms</action>
					</admin>
                </children>
            </clicksendsms>
        </menu>
        <acl>
            <resources>
                <admin>
                    <children>
						<system>
                            <children>
                                <config>
                                    <children>
                                        <clicksendsms>
                                            <title>ClickSend</title>
                                        </clicksendsms>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>